@model IEnumerable<PracticeManagement.Core.Models.Faculty2>
@{
    ViewBag.Title = "Index";
}
<div class="page-title">
    <div class="title_left">
        <h3>Fakulteti</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
        <div class="x_content">
            <table id="Profesors" class="data table table-striped no-margin">
                <thead>
                    <tr>
                        <th> Name </th>
                        <th>FacultyAddress </th>
                        <th>FacultyType </th>
                        <th>FacultySector</th>
                        <th>Programi</th>
                        <th>Description</th>
                        <th>Activity</th>
                        
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                <tr>
                    <td> @item.Name </td>
                    <td>@item.FacultyAddress</td>
                    <td>@item.FacultyTypeID</td>
                    <td>@item.FacultySector.Name</td>
                    <td>@item.Programi</td>
                    <td> @item.Description</td>
                    <td>
                        @{
                            if (item.Activity == true)
                            {
                                <a href="#" style="padding: 3px 10px 3px 10px; background-color:green " class="badge" readonly>Available</a>
                            }
                            else
                            {
                                <a href="#" style="padding: 3px 10px 3px 10px; background-color:red " class="badge" readonly>Closed</a>
                            }
                        }
                    </td>
                    <td>
                        @{
                            //cast to bool
                            if ((bool)item.Activity)
                            {
                                <a href="#" style="padding: 3px 10px 3px 10px; background-color:green " class="badge" readonly>Active</a>
                            }
                            else
                            {
                                <a href="#" style="padding: 3px 10px 3px 10px; background-color:red " class="badge" readonly>locked</a>
                            }
                        }
                    </td>
                   
                </tr>
                }

            </table>
        </div>
    </div>
  </div>


        </div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#Faculties2").DataTable();
        });
    </script>
    }