@model PracticeManagement.Core.ViewModel.FirmFormViewModel
@{
    ViewBag.Title = Model.Heading;
}
<link href="~/Content/gridProfesor.css" rel="stylesheet" />
@using (Html.BeginForm("Create", "Firms", FormMethod.Post, new { @class = "form-horizontal form-label-left", autocomplete = "off" }))
{

    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <span class="section">Firm</span>
                    @ViewBag.message
                    <br />
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Name<span class="required">*</span> </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Type <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(m => m.TypeID, new SelectList(Model.FirmTypes, "Id", "Type"), "Select one", new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(m => m.TypeID)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Description <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.TextAreaFor(m => m.Deacription, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Deacription)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3 col-xs-12">Activated <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="radio">
                                <label> @Html.RadioButtonFor(model => model.Activated, "true", new { @class = "flat" }) Active </label>
                                <label> @Html.RadioButtonFor(model => model.Activated, "false", new { @class = "flat" }) Inactive </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Address <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            Street
                            @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Street)
                            Postal number
                            @Html.TextBoxFor(m => m.PostalNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PostalNumber)
                            City
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.City)
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-6">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


}



